{% extends "real_effort_numbers_nt_nt/base/global.html" %}

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Etapa 3 - Decisión
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
    <div class="wrapper instructions">
        <p align = "justify">
            Para la Etapa 3 ha recibido otros $5,000. Ya son suyos y se los agregaremos a su pago final si usted llega hasta el final. 
            Sin embargo, usted puede usar todo o parte de esos $5,000 para realizar una inversión que puede salir bien o no. <br><br>

            En la pantalla puede ver una moneda virtual. Ésta determinará el éxito de la inversión. 
            Si la moneda cae en color <b>rojo</b> le entregaremos el doble de la cantidad invertida, y si cae color <b>azul</b>, perderá todo el monto invertido. 
            Lo que usted no invierta se quedará en su cuenta y se lo pagaremos al final de esta sesión. <br><br>
            
            <b>Ejemplo:</b> si invierte $1,000 y la moneda cae en color rojo, sus pagos serán:<br>
            <b>$6,000 = $4,000 (que usted guardó) + $2,000 (que usted ganó).</b>
            
            {% formfields %}
        </p>
    </div>
{% next_button %}
{% endblock %}
