
{% extends "real_effort_numbers_nt_nt/base/global.html" %} 

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Felicidades ha culminado el experimento!
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p align = "center">
            Gracias por su participación. Recuerde que si tiene dudas puede escribirnos a 
            <a href="mailto:investigacion.esocials@correounivalle.edu.co">investigacion.esocials@correounivalle.edu.co</a>
        </p>
    </div>

{% endblock %}

   