{% extends "real_effort_numbers_nt_t/base/global.html" %} 

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Ronda {{player.round_number}}
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
    <div class="wrapper instructions">
        <p align = "justify">
            {{correct_answers_team}} respuestas correctas entre las dos personas. <br><br>

            $ {{combined_payoff_team}} pesos.

        </p>
    </div>
{% next_button %}
{% endblock %}
