{% extends "real_effort_numbers_nt_t/base/global.html" %} 

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    INSTRUCCIONES ETAPA 1
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <align align = "justify">
            {% comment %} Todos:{% endcomment %} Esta etapa tiene {{Constants.sub_rounds_stage_1}} rondas. En cada ronda usted y otra persona realizarán restas de 
            números de dos dígitos a lo largo de un minuto. Por cada resta correcta, cada uno  ganará ${{Constants.payment_per_correct_answer}}.<br><br>

            <b>Ejemplo:</b><br>
            Imaginemos que hay dos jugadores, María y Juan. Al finalizar de la primera ronda María 
            completó 10 restas correctas y Juan realizó otras 7. Esto quiere decir que entre los dos, 
            habrán completado <b>17 restas</b>. Por lo tanto, tanto María como Juan ganarán en la primera 
            ronda <b>$1,700 (17 restas * $100).</b><br><br>

            Dado que sus decisiones son anónimas, ni usted ni la otra persona conocerán la identidad 
            de la persona con quien han sido emparejados (as).<br><br>

            <font color="blue">
                {% comment %} NT-T/ NT-NT:{% endcomment %}
                <b>Durante la Etapa 1, usted será emparejado con una persona DISTINTA en cada ronda.</b>
            </font>
            <br><br>
            
            <b>A continuación le haremos unas preguntas de control, solo para estar seguros de que las instrucciones han sido claras.
            Por favor, responda las siguientes preguntas:</b><br><br>
        {%formfield player.control_question_1%}
        {%formfield player.control_question_2%}
        </p>
    </div>
    {% next_button %}
{% endblock %}
