{% extends "real_effort_numbers_t_nt/base/global.html" %} 

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Bien Hecho! Ha culminado con éxito la Etapa 1 <br>
    <span style="text-align: center; font-size:large">Resumen Etapa 1 del equipo {{team}}</span>
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
 <div class="wrapper instructions">
        <p align = "justify">
            Usted y la persona de su equipo consiguieron:<br><br>

            Número de restas correctas: {{correct_answers_team}}<br><br>

            Usted ha acumulado en la Etapa 1: ${{combined_payoff_total}}<br><br>
        </p>
    </div>
    {% next_button %}

{% endblock %}


