{% extends "real_effort_numbers_t_nt/base/global.html" %} 

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    Etapa 3 - Resultados
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p align = "justify">
            Usted invirtió <b>${{amount_inversion}}</b> y la moneda cayó <b>{{cara_sello_name}}</b>. 
            Usted ha ganado <b>${{payment_stage_3}}</b> en la Etapa 3.

            {% next_button %}
        </p>       
    </div>

{% endblock %}
