{% extends "real_effort_numbers_t_t/base/global.html" %} 

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Instrucciones generales" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p align = "justify">
            Usted estará interactuando con otras personas a lo largo de este ejercicio, pero ni ellas ni usted conocerán las identidades de los demás.
            Existe un tiempo prudencial para realizar cada una de las actividades el cual les será informado oportunamente. Por favor, evite conversar, hacer llamadas telefónicas
            o realizar otras actividades mientras participa del ejercicio pues su demora evitará que otras personas puedan avanzar, y que puedan obtener mayores ganancias.<br><br>

            Además de los <b>$5,000</b> pesos que ganarán por completar todo el ejercicio, en promedio, 
            nuestros participantes podrán ganar hasta <b>$22,000</b> pesos adicionales por esta actividad.
        </p>
    </div>
    {% next_button %}
{% endblock %}